*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.bg-primary {
  background-image: linear-gradient(141deg, #3588ffa6 0%, #3311ef38 51%, #002bff00 75%); }

.heading1 {
  font-weight: 700 !important;
  font-size: 2.6rem; }

.heading3 {
  font-weight: 400 !important; }

.p1 {
  font-weight: 400; }

.small-t {
  font-size: 1rem;
  font-weight: 600; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-center-text {
  text-align: center !important; }

h1, h2, h3, h4, h5, h6 {
  color: #635d5d !important; }

.break {
  display: block; }

.brands-icons {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px; }
  @media only screen and (max-width: 37.5em) {
    .brands-icons {
      flex-direction: column;
      justify-content: space-between;
      align-items: center; } }

.fab, .fas {
  font-size: 400%; }
  @media only screen and (max-width: 37.5em) {
    .fab, .fas {
      font-size: 400%;
      margin-bottom: 30px;
      display: block; } }

.fa-arrow-right {
  font-size: 17px;
  display: inline-block; }

.gray-bg {
  background-color: #f3f3f3; }

.flx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flxc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-between; }

.bg-nav {
  background-color: rgba(0, 105, 255, 0.85) !important; }

.navbar-light {
  background-color: #fff !important; }

.navbar-brand span {
  color: #000 !important; }

.nav-link, .navbar-brand {
  font-weight: 600; }

.nav-link {
  color: #fff !important;
  opacity: 0.8;
  transition: all .2s; }

.nav-link:hover {
  opacity: 1;
  color: #fff !important; }

.nav-btn {
  padding: 5px 10px;
  border: 1px solid #0069ff;
  background-color: #0022ff; }

input:focus {
  border: 1px thin #0069ff !important; }

.header p {
  color: #f3f3f3;
  font-weight: 400; }
  @media only screen and (max-width: 37.5em) {
    .header p {
      font-weight: 200;
      margin: 0 auto !important; } }

.header h1 {
  font-weight: 600 !important;
  margin-bottom: 3.1rem !important; }

.header .btn {
  padding: .7rem 1.5rem;
  width: 10rem; }
  .header .btn i {
    position: relative;
    font-size: 14px !important; }
    @media only screen and (max-width: 56.25em) {
      .header .btn i {
        display: none; } }
  .header .btn:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }

.header input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.header input:focus {
  outline: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #0069ff !important; }
  .header input:focus:invalid {
    border-bottom: 3px solid #ff2204; }

.header label {
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  transition: all .3s;
  color: #696767; }

.header i {
  font-size: 30px;
  margin-right: 10px; }
  @media only screen and (max-width: 56.25em) {
    .header i {
      font-size: 1rem;
      display: inline; } }

.header p {
  font-size: 23px; }

.section-features {
  padding: 3rem 0;
  background-image: linear-gradient(to right bottom, rgba(33, 91, 222, 0.96), rgba(40, 90, 180, 0.84)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -5rem; }
  .section-features h1 {
    color: #f3f3f3 !important; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  margin-bottom: 1rem;
  height: 22rem; }
  .feature-box i {
    margin-bottom: 30px; }
  .feature-box h3 {
    margin-bottom: 30px; }

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03); }

.footer {
  width: 100%; }

.footer-header {
  background-color: #0069ff;
  width: 100%;
  padding: 9px 0; }

.footer-header .h6 {
  width: 100%;
  font-weight: 100 !important; }

.social-icons {
  font-size: 110%;
  margin-top: 20px;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  color: #fff; }

.social-icons .fab {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 40px;
  border-radius: 50%;
  font-size: 120%; }

.fa-search {
  font-size: 17px; }
  @media only screen and (max-width: 37.5em) {
    .fa-search {
      opacity: 0;
      visibility: hidden;
      display: none; } }

.footer-links {
  display: flex;
  flex-direction: column; }

.footer-links a {
  color: #464a4b;
  font-weight: 500;
  margin-bottom: 5px; }

.card {
  margin: 0 auto; }

.card .carousel-item {
  height: 300px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 56.25em) {
    .card .carousel-item {
      height: 350px; } }

.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d; }

.card .carousel-caption h3 {
  color: #3d3d3d; }

.card .carousel-caption p {
  line-height: 30px; }

.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center; }

.card .carousel-caption .col-sm-9 {
  text-align: left; }
  .card .carousel-caption .col-sm-9 .smallest {
    display: block; }

.card .carousel-control-prev, .card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important; }

.card {
  border: none !important; }

.carousel-caption .small-t {
  font-size: 19px;
  width: 50%; }
  @media only screen and (max-width: 56.25em) {
    .carousel-caption .small-t {
      width: 75% !important;
      font-size: 14px; } }

.carousel-caption i {
  font-size: 3rem !important;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .carousel-caption i {
      font-size: 1.7rem !important; } }

.carousel-caption img {
  width: 5rem;
  height: 5rem; }

.carousel-caption .smallest {
  font-size: 19px; }
