
.card {
    margin: 0 auto;
  }
  .card .carousel-item {
    height: 200px;
    margin-bottom: 10px;
    
  }
  .card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #3d3d3d;
  }
  .card .carousel-caption h3 {
    color: #3d3d3d;
  }
  .card .carousel-caption p {
    line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
    text-align: left;
  }
  .card .carousel-control-prev, .card .carousel-control-next {
    color: #3d3d3d !important;
    opacity: 1 !important;
  }
  .col-sm-3 img{
      padding-top:-80px;

  }

  .carousel-caption .row{
      padding:0 70px;
  }
  
  .card {
    border: none !important;
    
  }
  
  




